<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>HealthyHelper</title>
	<link href="{{static_url("HealthHelper.css")}}" type="text/css" rel="stylesheet" />
	<script src="{{static_url("prototype.js")}}" type="text/javascript"></script>
	<script src="{{static_url("reduce.js")}}" type="text/javascript"></script>
	<script src = "{{static_url("My97DatePicker/WdatePicker.js")}}" type="text/javascript"></script>
	<script src = "{{static_url("HealthHelper.js")}}" type="text/javascript"></script>
</head>

<body>
	<form action='/logout' method='post'>
		<input type='submit', name='Logout', id='logout' value = 'Logout' />
	</form>
	<h1>HealthyHelper</h1>
	
	<div id = "outer">
		<div id="friendList">
			<input type='button' id = 'addFriend' value="添加好友" />
			<img src="{{static_url('images/help.jpg')}}" title="输入想要添加的好友的id", alt='输入想要添加的好友的id'>
			<br />
			
			<input type="text" id='friend_id' />
			<br />
			<br />
			
			<input type='button' id = 'delFriend' value="删除好友" />
			<img src="{{static_url('images/help.jpg')}}" title="删除好友列表中选中的好友", alt='删除好友列表中选中的好友'>
			<p id='fri'>FriendList<p>
			<form id='frd_form'>
			</form>
		</div>
		<div id = "other">
			<ul>
				<li class="outList">
					<input type="button" name="plan" value="计划" class="bnt" />
					<ul id="plan" class="forHid">
						<li><input type="button" name="done" value="已完成" class="bnt" id="plan_done" /></li>
						<div>
							<table rules=all id="plan_d" >
								<tr>
									<th>起始时间</th>
									<th>结束时间</th>
									<th>运动地点</th>
									<th>运动类型</th>
								</tr>
							</table>
						</div>
						<li><input type="button" name="undone" value="待完成" class="bnt" id="plan_undone" /></li>
						<div>
							<table rules=all id="plan_u">
								<tr>
									<th>起始时间</th>
									<th>结束时间</th>
									<th>运动地点</th>
									<th>运动类型</th>
								</tr>
							</table>
						</div>
						<li class='outList'><input type="button" name="newPlan" value="制定新计划" class="bnt" id="plan_new "/>
						<div class="forHid">
							<p>起始时间:
							<input type="text" name="pBegin" id="p_begin"  onclick="WdatePicker()" />
							<select name="pbhour" id="pbhour">
							<option value="00">00</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>						
							</select>
							&nbsp;:
							<select name="pbminute" id="pbminute" >
							<option value="00">00</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="33">33</option>
							<option value="32">32</option>
							<option value="33">33</option>
							<option value="34">34</option>
							<option value="35">35</option>
							<option value="36">36</option>
							<option value="37">37</option>
							<option value="38">38</option>
							<option value="39">39</option>
							<option value="40">40</option>
							<option value="41">41</option>
							<option value="44">44</option>
							<option value="43">43</option>
							<option value="44">44</option>
							<option value="45">45</option>
							<option value="46">46</option>
							<option value="47">47</option>
							<option value="48">48</option>
							<option value="49">49</option>
							<option value="50">50</option>
							<option value="51">51</option>
							<option value="52">52</option>
							<option value="55">55</option>
							<option value="54">54</option>
							<option value="55">55</option>
							<option value="56">56</option>
							<option value="57">57</option>
							<option value="58">58</option>
							<option value="59">59</option>
							</select>
							</p>
							<p>结束时间:
							<input type="text" name="pEnd" id="p_end"  onclick="WdatePicker()" />
							<select name="pehour" id="pehour">
							<option value="00">00</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>						
							</select>
							&nbsp;:
							<select name="peminute" id="peminute" >
							<option value="00">00</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="33">33</option>
							<option value="32">32</option>
							<option value="33">33</option>
							<option value="34">34</option>
							<option value="35">35</option>
							<option value="36">36</option>
							<option value="37">37</option>
							<option value="38">38</option>
							<option value="39">39</option>
							<option value="40">40</option>
							<option value="41">41</option>
							<option value="44">44</option>
							<option value="43">43</option>
							<option value="44">44</option>
							<option value="45">45</option>
							<option value="46">46</option>
							<option value="47">47</option>
							<option value="48">48</option>
							<option value="49">49</option>
							<option value="50">50</option>
							<option value="51">51</option>
							<option value="52">52</option>
							<option value="55">55</option>
							<option value="54">54</option>
							<option value="55">55</option>
							<option value="56">56</option>
							<option value="57">57</option>
							<option value="58">58</option>
							<option value="59">59</option>
							</select>
							</p>
							<p>运动地点:&nbsp;<input type="text" name="begin" id="p_addr" /></p>
							<p>运动类型:&nbsp;<input type="text" name="begin" id="p_type" /></p>
							<p><input type="submit" name="submit" id= "create_plan"/></p>
						</div>
						</li>
					</ul>
				</li>
				<li class="outList">
					<input type="button" name="record" value="记录" class="bnt" />
					<ul id="record" class="forHid">
						<li><input type="button" name="month" value="一周内" class="bnt" id="record_week" /></li>
						<div>
							<table rules=all id="record_W">
								<tr>
									<th>起始时间</th>
									<th>结束时间</th>
									<th>运动地点</th>
									<th>运动距离/米</th>
									<th>运动时长/sec</th>
									<th>卡路里消耗/calorie</th>
								</tr>
							</table>
						</div>
						<li><input type="button" name="week" value="一月内" class="bnt" id="record_month" /></li>
						<div>
							<table rules=all id="record_M">
								<tr>
									<th>起始时间</th>
									<th>结束时间</th>
									<th>运动地点</th>
									<th>运动距离/米</th>
									<th>运动时长/sec</th>
									<th>卡路里消耗/calorie</th>
								</tr>
							</table>
						</div>
					</ul>
				</li>
				<li  class="outList">
					<input type="button" name="invitation" value="约跑" class="bnt" />
					<ul id="invitation" class="forHid">
						<li><input type="button" name="processed" value="已处理" class="bnt" id="invit_pro" /></li>
						<div>
							<table rules=all id="invit_pr">
								<tr>
									<th>起始时间</th>
									<th>结束时间</th>
									<th>运动地点</th>
									<th>运动类型</th>
									<th>发出邀请者</th>
									<th>受邀者</th>
								</tr>
							</table>
						</div>
						<li><input type="button" name="pending" value="待处理" class="bnt" id="invit_pend" /></li>
						<div>
							<table rules=all id="invit_pe">
								<tr>
									<th>起始时间</th>
									<th>结束时间</th>
									<th>运动地点</th>
									<th>运动类型</th>
									<th>发出邀请者</th>
									<th>受邀者</th>
								</tr>
							</table>
						</div>
						<li class="outList"><input type="button" name="send" value="发出邀请" class="bnt" id="invit_send" />
						<div class="forHid" id="">
							<p>起始时间:<input type="text" name="iBegin" id="i_begin"  onclick="WdatePicker()" />
							<select name="ibhour" id="ibhour">
							<option value="00">00</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>						
							</select>
							&nbsp;:
							<select name="ibminute" id="ibminute" >
							<option value="00">00</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="33">33</option>
							<option value="32">32</option>
							<option value="33">33</option>
							<option value="34">34</option>
							<option value="35">35</option>
							<option value="36">36</option>
							<option value="37">37</option>
							<option value="38">38</option>
							<option value="39">39</option>
							<option value="40">40</option>
							<option value="41">41</option>
							<option value="44">44</option>
							<option value="43">43</option>
							<option value="44">44</option>
							<option value="45">45</option>
							<option value="46">46</option>
							<option value="47">47</option>
							<option value="48">48</option>
							<option value="49">49</option>
							<option value="50">50</option>
							<option value="51">51</option>
							<option value="52">52</option>
							<option value="55">55</option>
							<option value="54">54</option>
							<option value="55">55</option>
							<option value="56">56</option>
							<option value="57">57</option>
							<option value="58">58</option>
							<option value="59">59</option>
							</select>
							</p>
							
							<p>起始时间:<input type="text" name="iEnd" id="i_end"  onclick="WdatePicker()" />
							<select name="iehour" id="iehour">
							<option value="00">00</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>						
							</select>
							&nbsp;:
							<select name="ieminute" id="ieminute" >
							<option value="00">00</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="33">33</option>
							<option value="32">32</option>
							<option value="33">33</option>
							<option value="34">34</option>
							<option value="35">35</option>
							<option value="36">36</option>
							<option value="37">37</option>
							<option value="38">38</option>
							<option value="39">39</option>
							<option value="40">40</option>
							<option value="41">41</option>
							<option value="44">44</option>
							<option value="43">43</option>
							<option value="44">44</option>
							<option value="45">45</option>
							<option value="46">46</option>
							<option value="47">47</option>
							<option value="48">48</option>
							<option value="49">49</option>
							<option value="50">50</option>
							<option value="51">51</option>
							<option value="52">52</option>
							<option value="55">55</option>
							<option value="54">54</option>
							<option value="55">55</option>
							<option value="56">56</option>
							<option value="57">57</option>
							<option value="58">58</option>
							<option value="59">59</option>
							</select>
							</p>
							
							<p>地点:&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="begin" id="I_addr" /></p>
							<p>运动类型:<input type="text" name="begin" id="I_type" /></p>
							<p>受邀者:&nbsp;&nbsp;
							<select multiple="multiple" id="I_people">
							</select></p>
							<p><input type="submit" name="submit" id="new_invit" /></p>
						</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>