body {
	/*background-color: white;*/
	/*background: url("images/do or die.jpg");*/
}

p, li, h1 {
	color: black;
}

li {
	list-style: none;
}

ul {
	list-style-image: url("{{static_url("images/diretion.jpg")}}");
	list-style-image: "{{static_url("images/diretion.jpg")}}";
}

.bnt{
	border: none;
	background: none;
	cursor: pointer;
	font-size: 20px;
}

input:link{color: black}
input:visited{color:red}
input:hover{color: blue}
input:active{color: red}

h1 {
	/*font-family: Segoe Script;*/
	font-size: 32pt;
	width: 80%;
	margin: auto;
	text-align: center;
	padding: 10px 0;
}
h1::first-letter {
	font-size: 72px;
}

#outer {
	border: 2px solid black;
	width: 80%;
	margin: auto;
}

#friendList {
	border-color: black;
	border-width: 0 2px 0 0;
	border-style: solid;
	width: 20%;
	float: left;
	font-size: 24px;
	font-weight: bold;
}

#fri::first-letter {
	font-size: 48px;
}

#fri {
	background:linear-gradient(left, black, white);
	background-color: gray;
}

#other {
	border-color: black;
	border-width: 0 0 0 2px;
	border-style: solid;
	width: 75%;
	padding: 10px 0 0 10px;
	/*margin: auto;*/
	float: left;
}

.forHid {
	display:none;
}

.fortime {
	width: 40px;
}